.el-slider{
  &__button {
    background-color: rgb(209, 145, 145);
    border-color: rgb(209, 145, 145);
  }
  &__runway {
    background-color: transparent;
    border: 1px solid rgb(233, 233, 233);
  }
  &__bar {
    background-color: rgb(163, 163, 163);
  }
  &__stop {
    display: none;
  }
}
