<template>
  <div>
    <div class="max-w-2xl flex items-center">
      <span class="mr-6">Filter on price</span>
      <el-slider
        class="flex-1"
        v-model="value"
        range
        :min="0"
        :max="500"
        :marks="marks"
      />
  </div>
  </div>
</template>

<script>
export default {
  name: 'RangeSlider',
  data () {
    return {
      value: [0, 100],
      marks: {
        0: '0',
        500: '500'
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
