<template>
  <div>
    <el-card class="w-full" :body-style="bodyStyle">
      <div class="flex justify-between">
        <p class="text-3xl">Title</p>
        <span class="text-3xl"><i class="el-icon-edit" /></span>
      </div>
      <p class="mt-3">Description</p>
      <p class="text-3xl mt-4">Dates</p>
      <el-table
        :data="tableData"
        :show-header="false"
        style="width: 100%">
        >
        <el-table-column
          prop="date" />
        <el-table-column
          prop="timeStart" />
        <el-table-column
          prop="timeEnd" />
        <el-table-column
          prop="type" />
        <el-table-column
          align="right"
          prop="price" />
      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'Shift',

  data () {
    return {
      bodyStyle: {
        padding: '20px 40px'
      },
      tableData: [
        {
          date: '2016-05-03',
          timeStart: '09:00',
          timeEnd: '15:00',
          type: 'Consultation',
          price: 70
        },
        {
          date: '2016-05-03',
          timeStart: '09:00',
          timeEnd: '15:00',
          type: 'Consultation',
          price: 70
        },
        {
          date: '2016-05-03',
          timeStart: '09:00',
          timeEnd: '15:00',
          type: 'Consultation',
          price: 70
        }
      ]
    }
  }
}
</script>
