<template>
  <div>
    <el-card class="h-full">
      <p class="text-3xl">Edit</p>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'SideBar',
  data () {
    return {}
  }
}
</script>
