<template>
  <div class="flex w-full h-full">
    <div class="w-3/4 pl-64 pt-4 pr-20 h-full overflow-auto">
      <p class="text-3xl text-bold">Filter</p>
      <RangeSlider />
      <div class="mt-10">
        <Shift v-for="(shift, i) of 4" :key="i" class="mt-6" />
      </div>
    </div>
    <div class="w-3/12">
      <SideBar class="h-full" />
    </div>
  </div>
</template>

<script>
import RangeSlider from '@/components/RangeSlider'
import Shift from '@/components/Shift'
import SideBar from '@/components/SideBar'

export default {
  name: 'Home',
  components: {
    RangeSlider,
    Shift,
    SideBar
  }
}
</script>

<style lang="scss" scoped>
.mbtn {
  @apply mt-4;
}
</style>
